<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420066561081-lecb4s0noif7dcllesspdstddoj2skhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420066561081-lecb4s0noif7dcllesspdstddoj2skhv</string>
	<key>API_KEY</key>
	<string>AIzaSyB3InMb0S0R-O8XIetmMi3UepK0m6qT6U8</string>
	<key>GCM_SENDER_ID</key>
	<string>420066561081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saad.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-app-cfc9a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-cfc9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420066561081:ios:4704908ea434772a62d1e8</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-cfc9a.firebaseio.com</string>
</dict>
</plist>